ion-content{
    --background:URL('../../assets/img/login_img_3.jpg') no-repeat 0 0 / 250%  200% ;
}

#divTitulo{
    margin-top: 30%;
}

#titulo {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    //font-weight: bold;
    text-align: center;
    font-size: 250%;
    font-style: italic;
}

#subtitulo {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    //font-weight: bold;
    text-align: center;
    font-size: 250%;
    font-style: italic;
}


ion-card{
    width: 80%;
    margin-top: 30%;
    margin-left: 10%;
    border-radius: 2px;
}

ion-label {
    font-weight: bold;
}

#iniciarSesion {
    background-color: var(--ion-color-gris);
    height: 5%;
    width: 80%;
    margin-left: 10%;
    border-radius: 2px;

    font-weight: bold;
}

#restablecerPassword {
    width: 80%;
    margin-left: 10%;
    
    font-size: smaller;
    color: white;
    font-weight: bold;
}

